version: '3.8'

services:
  server:
    build: 
      context: ./server
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      - PORT=5000
      # Keys will be loaded from .env automatically

  client:
    build:
      context: ./client
      args:
        - VITE_API_URL=http://localhost:5000/api
    ports:
      - "80:80"
    depends_on:
      - server
